/*Création de la popup*/
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 70px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 800px; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.content .x{
	float: right;
	height: 35px;
	left: 22px;
    position: relative;
	top: -25px;
	width: 34px;
}
.content .x:hover{
	cursor: pointer;
}
.x {
	font-size: 25px;
	font-weight: bold;
}
.animate-top{
	position:relative;
	animation:animatetop 1s
}
@keyframes animatetop{
	from{top:-300px;opacity:0} 
	to{top:0;opacity:1}
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin:  0 auto ;
	border: 1px solid #888;
	width: 80%;
	height: 70%;
	padding: 50px;
	box-shadow: 0 2px 5px #000;
}
/* CSS pour le formulaire */	  
form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 440px;
	margin: auto;
}
form p {
	width: 330px;
}
input, textarea  {
	min-width: 300px;
	padding: 10px;
	margin-top: 5px;
	outline: none;
	border: solid #D8D8D8 2px;
	border-radius: 10px;
}
input[type="submit"] {
	width: 100%;
	background-color: #D8D8D8;
	border-radius: 0;
}
body {
	margin: 0;
	padding: 0;
}
/* HEADER ET FOOTER */
.header {
	padding: 50px 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu-footer-menu-container .menu {
	justify-content: center;
	padding: 20px;
	border-top: solid 3px #D8D8D8;
}
#menu-footer-menu li, #menu-header-menu li {
	list-style: none;
}
#menu-footer-menu li {
	margin-left: 80px;
}
.header .logo {
	width: 65%;
}
.menu {
	display: flex;
	flex-wrap: wrap;
}
#menu-header-menu li {
	margin-left: 25px;
}
.menu li a {
	text-decoration: none;
	color: black;
	font-family: monospace;
	font-size: 1.5em;
	font-weight: 400;
}
/*HERO HEADER*/
.hero-header {
	max-width: 1600px;
	height: 650px;
}
.hero-header img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}


.lightbox {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 10;
	transition: opacity 0.3s;
}

.lightbox_next, .lightbox_prev {
	width: 45px;
	height: 45px;
	top: 50%;
	margin-top: -14px;
	z-index: 11;
	right: 0;
	position: fixed;
	background: url(../img/arrow.svg) center center / 100% 100%;
	border: none;
}

.lightbox_prev {
	right: auto;
	left: 0;
	transform: rotate(180deg);
}

.lightbox_close {
	font-size: 25px;
	top: 20px;
	right: 20px;
	position: fixed;
	color: white;
	background-color: rgba(0,0,0,0.8);
	z-index: 12;
}

.lightbox button {
	cursor: pointer;
}

.lightbox_container img {
	max-width: 100%;
	height: auto;
}

.lightbox_container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 50px;
	margin-right: 50px;
}

.ecran {
	left: 150px;
	opacity: 1 !important;
}

.oeil {
	left: 70px;
}
.oeil, .ecran {
	border: solid red 2px;
	position: absolute;
    opacity: 0;
	transition: all 0.8s ease-in-out;
}

a:hover > .oeil, a:hover > .ecran {
	opacity: 1;
}

.lightbox .fadeOut {
	opacity: 0;
}

